#lyftHeader {
  background-color: white !important;
}


.lyftLogo {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  margin: auto;
}


#lyftPageContainer {
  background: #28BC9C !important;
  color: white !important;
}

#timeTitle {
  margin-bottom: 5rem !important;
}
